<div class="layout">
  <aside class="sidebar">
    <div class="sidebar-logo">
      <div class="logo-wrap">
        <div class="logo-icon">
          <svg width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="#fff" stroke-width="2">
            <path d="M22 10v6M2 10l10-5 10 5-10 5z"/>
            <path d="M6 12v5c3 3 9 3 12 0v-5"/>
          </svg>
        </div>
        <div>
          <div class="logo-title">Edukini</div>
          <div class="logo-sub">ENICarthage — 1ère Année</div>
        </div>
      </div>
    </div>

    <nav class="nav">
      <a routerLink="/enicarthage/accueil" routerLinkActive="active" class="nav-item">
        <svg width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-width="2" d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
          <polyline stroke-width="2" points="9 22 9 12 15 12 15 22"/>
        </svg>
        Accueil
      </a>
      <a routerLink="/enicarthage/profil" routerLinkActive="active" class="nav-item">
        <svg width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <circle cx="12" cy="8" r="4" stroke-width="2"/>
          <path stroke-width="2" d="M4 20c0-4 3.6-7 8-7s8 3 8 7"/>
        </svg>
        Mon Profil Académique
      </a>
      
      <a routerLink="/enicarthage/recommandations" routerLinkActive="active" class="nav-item">
        <svg width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
        </svg>
        Spécialités
      </a>
      
       
    </nav>

    <div class="sidebar-footer">
      <div class="avatar-row" *ngIf="user">
        <div class="avatar-circle">{{ initials }}</div>
        <div>
          <div class="avatar-name">{{ user.prenom }} {{ user.nom }}</div>
          <div class="avatar-role">1ère année ENICarthage</div>
        </div>
      </div>
      <a routerLink="/login" class="logout-btn">
        <svg width="14" height="14" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-width="2" d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4M16 17l5-5-5-5M21 12H9"/>
        </svg>
        Déconnexion
      </a>
    </div>
  </aside>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>